.city_search {
    border-radius: 15px;
    width: 85%;
    padding: 5px;
}

.search_bar {
    align-items: center;
}

.weather_forecast {
    display: flex;
    flex-direction: row;
}

.next-hour {
    border: 1px silver solid;
    padding: 5px;
    border-radius: 15px;
    margin-right: 15px;
}